html {
    height: 100%;
    font-family: "Roboto Mono", monospace;
}
body {
    margin:0;
    height: 100%;
    background: black;
}

section {
    border: 2px solid white;
    color: white;
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)

}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 2px solid #0793c5;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    background: black;
    transition: background 0.5s;
}

.btn:hover {
    background: #0793c5;
    cursor: pointer;
}

section > h1, p {
    text-align: center;
}

.right {
    width: 70px;
    height: 70px;
    background-color: transparent;
    vertical-align: middle;


}

.left {
    width: 70px;
    height: 70px;
    background-color: transparent;
    vertical-align: middle;

}
